{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Add Word{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<form class="dataForm" method="post">
    <div class="formGroup">
        <div class="formLabel">Word:</div>
        <div class="formElement"><input id="word_name" name="word_name" type="text" required></div>
    </div>

    <div class="formGroup">
        <label class="formLabel" required>Choose a category:</label>
            <select name="category" id="category">
                {% for category in category_list %}
                    <option class="formElement" value={{ category[0] }} >{{ category[1] }}</option>
                {% endfor %}
            </select>
        <br><br>
    </div>

    <div class="formGroup">
        <div class="formLabel">Description:</div>
        <div class="formElement"><textarea id="word_desc" name="word_desc"  type="text" rows="6" required></textarea></div>
    </div>

    <div class="buttonGroup">
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}
