{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Add Word{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    <!--Add word form-->
    <form class="dataForm" method="post">
        <div class="formGroup">
            <div class="formLabel">English:</div>
            <div class="formElement"><input id="word_name" name="word_name" type="text" required></div>
        </div>

        <div class="formGroup">
            <div class="formLabel">Maōri:</div>
            <div class="formElement"><input id="word_maori" name="word_maori" type="text" required></div>
        </div>

        <div class="formGroup">
            <label class="formLabel" required>Choose a category:</label>
            <select name="category" id="category">
                {% for category in category_list %}
                    <option class="formElement" value={{ category[0] }}>{{ category[1] }}</option>
                {% endfor %}
            </select>
            <br><br>
        </div>

        <div class="formGroup">
            <div class="formLabel">Description:</div>
            <div class="formElement"><textarea id="word_desc" name="word_desc" type="text" rows="6" required></textarea>
            </div>
        </div>

        <div class="formGroup">
            <div class="formLabel">Year Level:</div>
            <br>
            {% for val in range(1, 11) %}
                <input type="radio" class="inline-button" id="level{{ val }}" name="word_level" value="{{ val }}"
                       required>
                <label for="level{{ val }}" name="button_label">{{ val }}</label>
            {% endfor %}
        </div>


        <div class="buttonGroup">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}
