* {
    font-family: "Microsoft Tai Le", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #000;
}

#container {
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-areas: 'nav header' 'main main' 'footer footer';
    }

header {
    grid-area: header;
    background-color: #000;
    padding: 1rem;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: #edd;
}

h1 {
    padding: 0.5rem 0;
    /*font-family: Comfortaa, sans-serif;*/
    color: #fff;
    text-transform: uppercase;
}

h2, h3 {
    padding: 0.5rem 0;
    /*font-family: Comfortaa, sans-serif;*/
    color: #fff;
}

h4 {
    padding: 0rem 0;
    /*font-family: Comfortaa, sans-serif;*/
}

p {
    padding: 0.5rem 0;
}

a {
  color: white;
    text-decoration: none;
}

img {
    width: 100%;
}

textarea {
    resize: none;
}

.dataForm {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}

.dataForm input, textarea {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
}

.dataForm p input {
    display: inline;
    width: 1rem;
    margin-left: 0.5rem;
    background-color: #000;
    color: #fff;
}

.formLabel {
    width: 30%;
    float: left;
    padding: 0.3rem;
    background-color: #000;
    color: #fff;
}

.formElement {
    width: 70%;
    float: left;

    background-color: #000;
    color: #fff;
}

.buttonGroup {
    margin-top: 3rem;
    text-align: center;

    background-color: #000;
    color: #777;

    font-style: italic;
}

.buttonGroup input {
    padding: 0.3rem;
    width: 25%;

    border: 1px solid #777;
}

.buttonGroup input:hover {
    padding: 0.3rem;
    color: #000;
    background-color: #fff;

    border: 1px solid #000;
}

.buttonGroup a {
    color: #777777;
    text-decoration: none;
    font-style: normal;
}

/* mouse over link */
.buttonGroup a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    font-style: normal;
}

.formGroup input {
    padding: 0.3rem;
    width: 100%;
}

.formGroup input[type="radio"]{
    width: 4%;
    padding: 0;
}

select {
    width: 70%;
    float: left;

    margin: 1rem 0;
    padding: 4px;
    background-color: #000;
    color: #fff;

}
.error {
    color: #000;
}

.login {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed #fff;
}

table {
    width: 100%;
    border: 2px solid #666;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #888;
    padding: 0.2rem;
    text-align: left;
}
th {
    background-color: #000;
    color: #fff;
}

img .thumb {
    max-width: 90px;
}
footer {
    grid-area: footer;
    padding: 1rem;
    background-color: #000;
}

footer p {
    color: #fff;
    font-size: 1rem;
}

footer img {
    float: right;
}

.category-description {
    font-style: italic;
}

.category-description h2 {
    padding: 0rem 0;
    color: #fff;
}

.category-description h3 {
    padding: 0.5rem 0;
    color: #fff;
}

.category-description h4{
    font-style: normal;
    color: #fff;
}

.category-description a {
    color: #777777;
    font-style: italic;
    text-decoration: none;
}

/* mouse over link */
.category-description a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

.category-box {
    font-style: normal;
}

.category-box a {
    color: #777777;
    text-decoration: none;
}

/* mouse over link */
.category-box a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}


.footer {
    font-style: italic;
    color: #777777;
}

.footer a {
    color: #777777;
    text-decoration: none;
}

/* mouse over link */
.footer a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    #container {
        grid-template-columns: 180px auto;
        grid-template-areas: 'header header' 'nav main' 'footer footer';
    }

    nav {
        /*background: #000;*/
        padding: 1rem;
    }

    nav ul {
        list-style: none;
    }
    nav li {
        padding: 0.2rem 0;
    }
    /* unvisited link */
    nav a {
        color: #777777;
        text-decoration: none;
    }

    /* mouse over link */
    nav a:hover {
        color: #000;
        text-decoration: none;
        background-color: #fff;
    }

    main {
        background-color: #000;
    }
    .formRow {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0.5rem 0;
    }
    .dataForm p input {
        display: inline;
    }
}

@media only screen and (min-width: 1000px) {
    #container {
        width: 1000px;
        margin: auto;
    }
}